{% extends 'base.html.twig' %}

{% block title %}Magasin d'usine - Showroom
{% endblock %}

{% block body %}

	<!-- how we do section -->

	<div class="container mt-5 mb-5">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-6"><img src="https://palmiersetcompagnie.fr/wp-content/uploads/2018/09/Saccharum-off-cc-by-sa-1.jpg" alt=""></div>
				<div class="col-md-6 bg-success">
					<h4 class="section-title mt-2 mb-2 h1 text-light text-center">NOS ENGAGEMENTS</h4>
					<p class="mb-2 text-light">Having and managing a correct marketing strategy is crucial in a fast moving market.</p>
					<ul class="list-unstyled mt-4 mb-4">
						<div class="col-md-12 text-light">
							<div class="row">
								<i class="fas fa-globe-americas fa-3x col-md-2"></i>
								<li class="col-md-10 mb-5 text-light">
									Haec dum oriens diu perferret, caeli reserato tepore Constantius consulatu suo septies et Caesaris ter egressus Arelate Valentiam petit, in Gundomadum.</li>
							</div>
							<div class="row">
								<i class="fas fa-seedling fa-3x col-md-2"></i>
								<li class="col-md-10 mb-5 text-light">Quibus occurrere bene pertinax miles explicatis ordinibus parans hastisque feriens scuta qui habitus iram pugnantium concitat et dolorem proximos.</li>
							</div>
							<div class="row">
								<i class="fas fa-leaf fa-3x col-md-2"></i>
								<li class="col-md-10 mb-5 text-light">Et eodem impetu Domitianum praecipitem per scalas itidem funibus constrinxerunt, eosque coniunctos per ampla spatia civitatis acri raptavere discursu.</li>
							</div>
							<div class="row">
								<i class="fas fa-flask fa-3x col-md-2"></i>
								<li class="col-md-10 mb-5 text-light">Alii nullo quaerente vultus severitate adsimulata patrimonia sua in inmensum extollunt, cultorum ut puta feracium multiplicantes annuos fructus.</li>
							</div>
							<div class="row">
								<i class="fas fa-microscope fa-3x col-md-2"></i>
								<li class="col-md-10 mb-5 text-light">Hanc regionem praestitutis celebritati diebus invadere parans dux ante edictus per solitudines Aboraeque amnis herbidas ripas, suorum indicio proditus.</li>
							</div>
							<div class="row">
								<i class="fas fa-water fa-3x col-md-2"></i>
								<li class="col-md-10 text-light">Et eodem impetu Domitianum praecipitem per scalas itidem funibus constrinxerunt, eosque coniunctos per.</li>
							</div>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- ./how we do section -->


{% endblock %}
