body{
    margin-top: 11vh;
}


.form-check{
    /* background-color: #f4f8ff; */
    padding: 15px 60px;
    margin-top: 7px;
}

/* #register_gender_0 {
    margin-right: 20px;
} */

/*-----------------------------------------------*/
/* Séparateur 4 points*/

/* .dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.dot-white {
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
} */

/*-----------------------------------------------*/

