{# Cedossier emails permet de rassembler tous les fichiers twig contenant des emails dans un même dossier. Ce qui s'affiche dans le mail que l'on reçoit #}
<h1>Message envoyé par {{ contact.firstname }} {{ contact.lastname | upper}} - ({{ contact.email }})</h1>
<h2>{{ contact.content | raw }}</h2>
